*{
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.header h1{
    font-size: 65px;
    letter-spacing: 0.1rem;
    line-height: 0px;
}

.clock {
  text-align: center;
  color: black;
}